safeaipackage.egg-info
dist
safeaipackage/main.py
safeaipackage/data_test.py
notebooks
examples/untitled.ipynb
examples/employee_classification.ipynb
examples/employee_regression.ipynb
old_version_functions